@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Mea+Culpa&display=swap');

.meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  background-color: rgba(234, 227, 213, .3);
  background-image: url(detalhe-superior.png), url(detalhe-inferior.png), url(textura.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 300px, 300px, auto;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding:0;
  margin:0;
}

* {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

.relevo-link a {
  box-shadow: 
    1px 1px 1px rgba(0, 0, 0, .3) inset, /* sombra interna */
    -1px -1px 1px rgba(255, 255, 255, .3) inset, /* sombra externa */
    2px 2px 10px rgba(255, 255, 255, .5), /* luz externa */
    2.5px 2.5px 15px rgba(66, 24, 2, 0.2); /* sombra externa */
}

.relevo-texto {
  text-shadow: 
    0 0 10px rgba(255, 255, 255, 1),
    .5px .5px 1px rgba(66, 24, 2, 0.5); /* sombra */
}

.nomes {
  display: flex;
  margin-top: 100px;
}

.nomes h1 {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 2.rem;
  color: rgba(170, 16, 31, 0.8);
  margin: 0;
  opacity: 0.8;
}

.mensagem {
  display: flex;
  flex-direction: column;

  max-width: 70%;

  font-family: "Ledger", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: .9rem;
}

.mensagem h3,
.mensagem p {
  padding: 0;
  margin: 0;
}

.mensagem h3 {
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  border-bottom: 1px dashed rgba(0, 0, 0, .1);
  color: rgba(170, 16, 31, 0.8);
}

.mensagem p {
  color: rgba(170, 16, 31, 0.8);
  padding-bottom: 5px;
}

.botao {
    display: flex;
    align-items: center;
}

.botao a {
  display: inline-block;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  
  text-decoration: none;
  background-color: rgba(170, 16, 31, 0.8);
  background-color: rgba(23, 83, 7, 0.8);
  border-radius: 50px;

  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  list-style-type: none;
  text-align: center;
}

.menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu ul li a {
  font-size: 1rem;
  color: white;
  
  border-radius: 50px;
  background-color: rgba(170, 16, 31, 0.8);

  width: 50px;
  height: 50px;
  line-height: 50px;;
}

.menu ul li a.ativo {
  background-color: rgb(221, 106, 166);
}

.menu ul li p {
  font-size: .7rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #777;

  padding: 0;
  padding-top: 10px;
}
